textarea {
    min-height: 400px;
}

.title0 {
    font-weight: bold;
}


.title2 {

    text-align: right;
}

tbody {

    border: 3px solid rgb(0, 123, 251);
}

tr {
     border: 2px solid rgb(0, 123, 251);
     transition-duration: .3s;
}


tr:hover {
    
   box-shadow: inset 0px 0px 10px 1px rgb(189, 188, 188, .9);
}

thead tr {
    border: none;
}
thead tr:hover {
    box-shadow: none;
}



.read-true {

    color: grey;
    background-color:rgb(235, 235, 235, .7);
    border: 1px solid grey;
}